#src/
trained_models/
#models/
demo/videos/
demo/animation/
model_data/
demo/*_results*/
active_configs/*
configs/*_self.yml
build/
dist/
*.egg-info/
.eggs/
__pycache__/
demo/images/
log/*
simple_romp/.DS_Store
.DS_Store
romp-env-py310/
.env/
venv/
*/env/
*env*/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
.npz
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
